{% extends 'layout.html' %}

{% block title %}
    Акция :: {{ data.ticker }}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <p>
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    {% if data.logo %}
                        <img class="rounded-circle border border-dark" src="\static\images\logos\{{data.ticker}}.png" height="150" width=150">
                    {% else %}
                        <img src="assets\images\logos\unnamed.png" height="200" width="200">
                    {% endif %}
                </div>

                <div class="col-6">
                    <div class="h3">Тикер: {{ data.ticker }}</div>
                    <div class="h5">Название компании: {{ data.name }}</div>
                    <div class="h5">Валюта: {{ data.currency }}</div>
                    <div class="h5">Сектор: {{ data.sector }}</div>
                    <div class="h5">Индустрия: {{ data.industry }}</div>
                </div>

                <div class="col-2">
                    <h3>{{ current_price | floatformat:2 }}</h3>
                    {% if last_day_change < 0 %}
                    <div class="text-danger"> {{ last_day_change | floatformat:2 }} ({{ last_day_change_percent }}%)
                    {% else %}
                    <div class="text-success"> {{ last_day_change | floatformat:2 }} (+{{ last_day_change_percent }}%)
                    {% endif %}
                    </div>
                </div>
            </div>
</p>

        {% if open %}
            <p>
            {% for item in open %}
            <h3>Портфель:</h3>
            <p>Количество: {{ item.quantity }} шт.</p>
            <p>Средняя цена покупки: {{ item.average_buy_price | floatformat:2 }}</p>
            {% endfor %}
            </p>
        {% endif %}

            {% if closed %}
                <p>
            Вы продали
            {% for item in closed %}
                {{ item.quantity }} шт.
            {% endfor %}
                </p>
        {% endif %}


<div class="row">
                    <div class="h3">Сделки</div>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                       <th scope="col">Дата</th>
                         <th scope="col">Тип операции</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Общая стоимость</th>
                    </tr>
                </thead>

                <tbody>
                    {% for d in deals %}
                        <tr>
                            <td>{{ d.date}}</td>
                            <td>{{ d.transaction_type }}</td>
                            <td>{{ d.price }} {{ d.currency }}</td>
                            <td>{{ d.quantity}}</td>
                            <td>{{ d.total_cost }} {{ d.currency }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            </div>


            <div class="row">
            <div class="h3">Котировки</div>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                       <th scope="col">Дата</th>
                       <th scope="col">Цена открытия</th>
                         <th scope="col">Макс. цена</th>
                        <th scope="col">Мин. цена</th>
                        <th scope="col">Цена закрытия</th>
                        <th scope="col">Объём торгов</th>
                    </tr>
                </thead>

                <tbody>
                    {% for q in quotations %}
                        <tr>
                            <td>{{ q.date}}</td>
                            <td>{{ q.open | floatformat:2 }}</td>
                            <td>{{ q.high | floatformat:2 }}</td>
                            <td>{{ q.low | floatformat:2 }}</td>
                            <td>{{ q.close | floatformat:2 }}</td>
                            <td>{{ q.volume }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            </div>
        </div>
    </div>

{% endblock %}