{% extends 'layout.html' %}
{% block content %}
<div>
    {% if user.is_authenticated %}
    {% if profile.first_name %}
    <h1>Здравстрвуй, {{ profile.first_name }}!</h1>
    {% endif %}
    {% else %}
    <h1>Здравствуйте!</h1>
    <p>Зарегистрируйтесь или войдите для использования всех возможностей сайта.</p>
    <a href="{% url 'accounts:sign_in' %}">Войти</a>
    <a href="{% url 'accounts:sign_up' %}">Регистрация</a>
    {% endif %}

    <p>
        <h3>InvestVis - веб-приложение для мониторинга эффективности инвестиционного портфеля</h3>
        <ul>
            <li>Альтернатива расчёту в Excel</li>
            <li>Возможность импорта сделок из отчётов брокера</li>
            <ul>
                <li>Тинькофф</li>
            </ul>
            <li>Возможность объединения аналитической информации нескольких портфелей</li>
        </ul>
    </p>

</div>
{% endblock %}