<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}"> InvestVis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Главная </a></li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:profile' %}">Профиль</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'import_report' %}">Импорт</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Портфель</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'analytics' %}">Аналитика</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'deals' %}">Сделки</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Блог</a></li>
    </ul>
  </div>
    {% if request.user.is_authenticated %}
        <span class="navbar-text"> <a href="{% url 'accounts:sign_out' %}"> Выйти</a>
        </span>
    {% else %}

    <span class="navbar-text">
        <a href="{% url 'accounts:sign_up' %}">Регистрация</a> | <a href="{% url 'accounts:sign_in' %}">Вход</a>
    </span>
    {% endif %}
</nav>